<div id="content11">
		<div id="content11_hw"></div>
		<div id="content11_text">
			<p>
				投稿：0311-67908356&nbsp;&nbsp; 信箱：
				<script language="JavaScript">
					abh('fjnet.com', 'news', '')
				</script>
				<a href="mailto:news@fjnet.com">news@fjnet.com</a>（国内）&nbsp;&nbsp;
				<script language="JavaScript">
					abh('gmail.com', 'fo84000', '')
				</script>
				<a href="mailto:fo84000@gmail.com">fo84000@gmail.com</a>（国际）&nbsp;&nbsp;
				QQ：983700265
			</p>
			<p>
				传真：010-51662115转8013 &nbsp;&nbsp; 客服信箱：
				<script language="JavaScript">
					abh('fjnet.com', 'admin', '')
				</script>
				<a href="mailto:admin@fjnet.com">admin@fjnet.com</a>&nbsp;&nbsp;
				客服电话：400-706-8559&nbsp;&nbsp; 客服QQ：847698935&nbsp;&nbsp; <span>
					<a href="http://cn.fjnet.com/dz/forum-182-1.html"
					style="text-decoration: underline;" target="_blank">在线留言</a>
				</span>&nbsp;&nbsp;
			</p>
			<p>吉祥宝塔迎请：15117935615
				&nbsp;&nbsp;010-51662115转8026&nbsp;&nbsp;010-51656995</p>
			<p>
				<a href="http://qf.fjnet.com" target="_blank"><font
					color="#ff0000">祈福</font></a>&nbsp;&nbsp;&nbsp;<a
					href="http://business.fjnet.com" target="_blank">佛教在线(www.fjnet.com)网络</a>联系人：子桑&nbsp;&nbsp;&nbsp;联系电话：<img
					src="assets/img/W020150601384665705649.png">
			</p>
			<p>
				办公地址：北京朝阳区外馆斜街甲1号泰利明苑A座公寓9B－11C&nbsp;&nbsp;邮编：100011&nbsp;&nbsp;<span><a
					href="/pty/xqsd/200812/t20081202_94561.htm" target="_blank">乘车路线及地图</a></span>
			</p>
			<p>
				<a href="/dh/dh.htm">网站地图</a>&nbsp;&nbsp;<font color="#ff0000">义工报名</font>&nbsp;&nbsp;QQ：847698935&nbsp;&nbsp;QQ群：21264446&nbsp;&nbsp;<a
					href="http://special.fjnet.com/zhaopin/index.html" target="_blank"><font
					color="#ff0000">招聘</font></a> &nbsp;&nbsp;技术支持：010-51662115转8023
			</p>
			<p>
				<a href="http://www.miitbeian.gov.cn"> 京ICP备12042947号-1</a>
				Copyright ©1996-2012 佛教在线版权<a
					href="http://special.fjnet.com/oajs/index.html">所有</a>
			</p>
		</div>
	</div>